<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width-device-width, initial-scale=1.0">
    <link href="/static/css/email.css" rel="stylesheet">
    <title>Email Fornt Page</title>
</head>
<body>
    <form action="/enquiry" method="post" class="center" id="enquiryform">
        <label>recipient email</label><br>
        <input type="text" name="recipient email" placeholder="recipient email"><br><br>
        <label>firstname</label><br>
        <input type="text" name="firstname" placeholder="first name"><br><br>
        <label>subject</label><br>
        <input type="text" name="subject" placeholder="subject"><br><br>
        <label>text</label><br>
        <label for="templates">Choose a template:</label><br>
        <select id="templates" name="templatelist" form="enquiryform">
        <option value="email_template">email_template</option>
        </select><br><br>
        <textarea type="text" name="context" placeholder="context" cols="40" rows="5"></textarea><br><br>
        <button type="submit">send</button>
    </form>
</body>
</html>